:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;

  --dark-bg: #2f303a;

  --main-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.btn {
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.section-title {
  font-family: ar(--main-font);
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-primary {
  color: var(--title-text-color);
}

.logo-secondary {
  color: var(--primary-white-color);
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Стили для index.html */

.feature-list {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-item {
  font-style: inherit;
}

.team-item {
  text-align: center;
}

.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team-item-position {
  font-size: 16px;
  line-height: 0.19;
  color: var(--primary-text-color);
}

.map {
  color: var(--primary-white-color);
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}
.address {
  font-style: inherit;
}

.dark-bg {
  background-color: var(--dark-bg);
}

/* Стили для portfolio.html */

.btn-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.btn-item:hover,
.btn-item:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio-title {
  font-size: 18px;
  line-height: 0.2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
